body,html {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

nav {
    height: 67px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size:20px;
    letter-spacing:1px;
    
}

a {
    text-decoration: none;
    color: black;
}

ul {
display: flex;
}

li {
    list-style: none;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing:1px;
    font-weight: 600;
    text-transform: capitalize;

}

li:hover{
    transform: scale(1.1);
    transition: transform 500ms ease-in-out ;
}

button {
    width:100px;
    height:40px;
    background: linear-gradient(30deg, transparent,black);
    color: whitesmoke;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(30deg,black,  transparent);
    transform: scale(0.9);
    transition: transform 500ms ease-in-out ;
}

#div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}