body {
    background: url(bg.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

main {
    width: 580px;
    border-radius: 30px;
    height: 120vh;
    box-shadow: 0px 2px 30px #ccc6!important;
}

#div1 {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    height: 100vh;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 0;
}

#div2 {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
}

#div3 {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
}

#form {
    width: 47%;
    height: 50px;
}

#form2 {
    width: 60%;
    height: 50px;
}

a {
    color: #7CC6FF;
    text-decoration: none;
}

#a1 {
    color: white;
}